# Pandas basics

## Import and basics

In [1]:
import numpy as np
import pandas as pd

In [2]:
# np.random.seed(42)
a1 = np.random.randn(10,5)
a1

array([[-9.14837832e-02, -2.55529770e+00, -7.94440850e-01,
         9.87369110e-02, -1.02161423e-01],
       [ 2.17127652e+00, -1.41304481e-01,  3.58090034e-01,
         8.15312382e-01, -6.29429393e-01],
       [ 2.23909681e+00,  6.59266219e-01, -9.65669879e-01,
         1.43274125e-01, -9.23509059e-01],
       [-1.47028639e+00, -1.81101543e-02,  8.60161262e-01,
        -6.47872282e-01, -7.87765502e-01],
       [-1.15904749e+00,  1.13054811e+00,  5.26385941e-02,
        -9.32648869e-01,  7.17834769e-01],
       [ 1.83109012e-01,  8.15915466e-01, -1.50620238e-01,
         3.63434704e-01, -1.83330347e+00],
       [ 1.03130122e+00, -8.74938083e-01, -1.62046797e-03,
        -4.59310629e-01,  1.00582057e+00],
       [-1.44059204e+00, -7.35165150e-01, -4.53209479e-01,
        -6.59225364e-01,  3.70886520e-01],
       [-2.94471691e-01, -7.13905736e-01,  3.44349215e-01,
        -1.32438678e+00,  1.78328226e+00],
       [-1.61533695e+00,  1.09248924e+00, -2.56411031e-01,
        -5.96659252e-01,  1.14155608e+00]])

## All is in the DataFrame

In [3]:
df = pd.DataFrame(a1)
df

          0         1         2         3         4
0 -0.091484 -2.555298 -0.794441  0.098737 -0.102161
1  2.171277 -0.141304  0.358090  0.815312 -0.629429
2  2.239097  0.659266 -0.965670  0.143274 -0.923509
3 -1.470286 -0.018110  0.860161 -0.647872 -0.787766
4 -1.159047  1.130548  0.052639 -0.932649  0.717835
5  0.183109  0.815915 -0.150620  0.363435 -1.833303
6  1.031301 -0.874938 -0.001620 -0.459311  1.005821
7 -1.440592 -0.735165 -0.453209 -0.659225  0.370887
8 -0.294472 -0.713906  0.344349 -1.324387  1.783282
9 -1.615337  1.092489 -0.256411 -0.596659  1.141556

In [4]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [5]:
df.columns = ["col1", "col2", "col3", "col4", "col5"]
df.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5'], dtype='object')

In [6]:
df

       col1      col2      col3      col4      col5
0 -0.091484 -2.555298 -0.794441  0.098737 -0.102161
1  2.171277 -0.141304  0.358090  0.815312 -0.629429
2  2.239097  0.659266 -0.965670  0.143274 -0.923509
3 -1.470286 -0.018110  0.860161 -0.647872 -0.787766
4 -1.159047  1.130548  0.052639 -0.932649  0.717835
5  0.183109  0.815915 -0.150620  0.363435 -1.833303
6  1.031301 -0.874938 -0.001620 -0.459311  1.005821
7 -1.440592 -0.735165 -0.453209 -0.659225  0.370887
8 -0.294472 -0.713906  0.344349 -1.324387  1.783282
9 -1.615337  1.092489 -0.256411 -0.596659  1.141556

In [7]:
# Only now you can access columns like this
col3 = df["col3"]
col3

0   -0.794441
1    0.358090
2   -0.965670
3    0.860161
4    0.052639
5   -0.150620
6   -0.001620
7   -0.453209
8    0.344349
9   -0.256411
Name: col3, dtype: float64

In [8]:
type(col3)

pandas.core.series.Series

In [9]:
col3.shape

(10,)

In [10]:
col3.describe()

count    10.000000
mean     -0.100673
std       0.552328
min      -0.965670
25%      -0.404010
50%      -0.076120
75%       0.271422
max       0.860161
Name: col3, dtype: float64

## joining columns

In [11]:
join_cols = df[["col3","col1"]]
join_cols

       col3      col1
0 -0.794441 -0.091484
1  0.358090  2.171277
2 -0.965670  2.239097
3  0.860161 -1.470286
4  0.052639 -1.159047
5 -0.150620  0.183109
6 -0.001620  1.031301
7 -0.453209 -1.440592
8  0.344349 -0.294472
9 -0.256411 -1.615337

## Addition 2 columns

In [12]:
addition = df["col2"] + df["col3"]
addition

0   -3.349739
1    0.216786
2   -0.306404
3    0.842051
4    1.183187
5    0.665295
6   -0.876559
7   -1.188375
8   -0.369557
9    0.836078
dtype: float64

## Add a new column

In [13]:
# come up with some data
m1 = np.array([["no","factor1",0],
               ["yes","factor2",2], 
               ["no","factor3",0], 
               ["no","factor4",2],
               ["yes","factor1", 1], 
               ["no","factor2",3],
               ["yes","factor5",3],
               ["no","factor1",0],
               ["yes","factor5",3],
               ["yes","factor1",2],
               ["yes","factor5",1],
               ["no","factor1",2],
               ["no","factor2",0],
               ["yes","factor1",1],
               ["no","factor3",2]
              ])

# create a dataframe with columns
df1 = pd.DataFrame(m1, columns=["Request","Factor", "Impact"])
df1["Impact"] = df1["Impact"].astype(int)
df1

   Request   Factor  Impact
0       no  factor1       0
1      yes  factor2       2
2       no  factor3       0
3       no  factor4       2
4      yes  factor1       1
5       no  factor2       3
6      yes  factor5       3
7       no  factor1       0
8      yes  factor5       3
9      yes  factor1       2
10     yes  factor5       1
11      no  factor1       2
12      no  factor2       0
13     yes  factor1       1
14      no  factor3       2

In [14]:
np.random.seed()
a1 = np.random.uniform(
    low=0,
    high=10,
    size=(m1.shape[0], 1)
)
a1

array([[5.92674722],
       [8.44966917],
       [0.33131124],
       [6.14195925],
       [9.78468132],
       [5.48361738],
       [5.38770776],
       [8.36377089],
       [1.77137729],
       [9.03117237],
       [9.24659618],
       [9.50884382],
       [0.77559593],
       [6.7216647 ],
       [7.01011812]])

In [15]:
df1["new_column"] = a1
df1

   Request   Factor  Impact  new_column
0       no  factor1       0    5.926747
1      yes  factor2       2    8.449669
2       no  factor3       0    0.331311
3       no  factor4       2    6.141959
4      yes  factor1       1    9.784681
5       no  factor2       3    5.483617
6      yes  factor5       3    5.387708
7       no  factor1       0    8.363771
8      yes  factor5       3    1.771377
9      yes  factor1       2    9.031172
10     yes  factor5       1    9.246596
11      no  factor1       2    9.508844
12      no  factor2       0    0.775596
13     yes  factor1       1    6.721665
14      no  factor3       2    7.010118

## Conditions

In [16]:
condition = df1["Request"] == "yes"
condition

0     False
1      True
2     False
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10     True
11    False
12    False
13     True
14    False
Name: Request, dtype: bool

In [17]:
filtered = df1[condition]
filtered

   Request   Factor  Impact  new_column
1      yes  factor2       2    8.449669
4      yes  factor1       1    9.784681
6      yes  factor5       3    5.387708
8      yes  factor5       3    1.771377
9      yes  factor1       2    9.031172
10     yes  factor5       1    9.246596
13     yes  factor1       1    6.721665

It is possible to use multiple conditions

In [18]:
cond2 = df1["Impact"] >= 2
filtered = df1[condition & cond2]
filtered

  Request   Factor  Impact  new_column
1     yes  factor2       2    8.449669
6     yes  factor5       3    5.387708
8     yes  factor5       3    1.771377
9     yes  factor1       2    9.031172

In [19]:
type(condition)

pandas.core.series.Series

## Pandas apply

In [20]:
# suppose we have this mapping 
mapping = {"factor1":"NA", "factor2":"MX","factor3":"LX","factor4":"TY","factor5":"PSOX"}

# apply the mapping to the Service_type column and create a new one  
df1["EDX"] = df1["Factor"].apply(lambda x: mapping.get(x,"Not Found")) 

# display result 
df1

   Request   Factor  Impact  new_column   EDX
0       no  factor1       0    5.926747    NA
1      yes  factor2       2    8.449669    MX
2       no  factor3       0    0.331311    LX
3       no  factor4       2    6.141959    TY
4      yes  factor1       1    9.784681    NA
5       no  factor2       3    5.483617    MX
6      yes  factor5       3    5.387708  PSOX
7       no  factor1       0    8.363771    NA
8      yes  factor5       3    1.771377  PSOX
9      yes  factor1       2    9.031172    NA
10     yes  factor5       1    9.246596  PSOX
11      no  factor1       2    9.508844    NA
12      no  factor2       0    0.775596    MX
13     yes  factor1       1    6.721665    NA
14      no  factor3       2    7.010118    LX

## Pandas loc

Used to change the values in a certain column, under certain conditions:
```python
df.loc[condition, 'column'] = new_val
```

In [21]:
condition = df1["Factor"] == "factor1"
condition

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7      True
8     False
9      True
10    False
11     True
12    False
13     True
14    False
Name: Factor, dtype: bool

In [22]:
df1.loc[condition, "Request"] = "no"
df1

   Request   Factor  Impact  new_column   EDX
0       no  factor1       0    5.926747    NA
1      yes  factor2       2    8.449669    MX
2       no  factor3       0    0.331311    LX
3       no  factor4       2    6.141959    TY
4       no  factor1       1    9.784681    NA
5       no  factor2       3    5.483617    MX
6      yes  factor5       3    5.387708  PSOX
7       no  factor1       0    8.363771    NA
8      yes  factor5       3    1.771377  PSOX
9       no  factor1       2    9.031172    NA
10     yes  factor5       1    9.246596  PSOX
11      no  factor1       2    9.508844    NA
12      no  factor2       0    0.775596    MX
13      no  factor1       1    6.721665    NA
14      no  factor3       2    7.010118    LX

## Sorting a DataFrame

In [23]:
df1.sort_values(
    by=["new_column"], # the criteria
    ascending=False, # the order
    inplace=True # True: modify the df, False: doesn't modify the original df, used if you store the result in a new df.
) 
df1

   Request   Factor  Impact  new_column   EDX
4       no  factor1       1    9.784681    NA
11      no  factor1       2    9.508844    NA
10     yes  factor5       1    9.246596  PSOX
9       no  factor1       2    9.031172    NA
1      yes  factor2       2    8.449669    MX
7       no  factor1       0    8.363771    NA
14      no  factor3       2    7.010118    LX
13      no  factor1       1    6.721665    NA
3       no  factor4       2    6.141959    TY
0       no  factor1       0    5.926747    NA
5       no  factor2       3    5.483617    MX
6      yes  factor5       3    5.387708  PSOX
8      yes  factor5       3    1.771377  PSOX
12      no  factor2       0    0.775596    MX
2       no  factor3       0    0.331311    LX

In [24]:
df1.reset_index(inplace=True) # that adds a new column "index" with the former index values.
df1

    index Request   Factor  Impact  new_column   EDX
0       4      no  factor1       1    9.784681    NA
1      11      no  factor1       2    9.508844    NA
2      10     yes  factor5       1    9.246596  PSOX
3       9      no  factor1       2    9.031172    NA
4       1     yes  factor2       2    8.449669    MX
5       7      no  factor1       0    8.363771    NA
6      14      no  factor3       2    7.010118    LX
7      13      no  factor1       1    6.721665    NA
8       3      no  factor4       2    6.141959    TY
9       0      no  factor1       0    5.926747    NA
10      5      no  factor2       3    5.483617    MX
11      6     yes  factor5       3    5.387708  PSOX
12      8     yes  factor5       3    1.771377  PSOX
13     12      no  factor2       0    0.775596    MX
14      2      no  factor3       0    0.331311    LX

In [26]:
df1.drop(columns=["index"], inplace=True) # drop a column
df1

   Request   Factor  Impact  new_column   EDX
0       no  factor1       1    9.784681    NA
1       no  factor1       2    9.508844    NA
2      yes  factor5       1    9.246596  PSOX
3       no  factor1       2    9.031172    NA
4      yes  factor2       2    8.449669    MX
5       no  factor1       0    8.363771    NA
6       no  factor3       2    7.010118    LX
7       no  factor1       1    6.721665    NA
8       no  factor4       2    6.141959    TY
9       no  factor1       0    5.926747    NA
10      no  factor2       3    5.483617    MX
11     yes  factor5       3    5.387708  PSOX
12     yes  factor5       3    1.771377  PSOX
13      no  factor2       0    0.775596    MX
14      no  factor3       0    0.331311    LX

## Agregation

The synthax is:
```python
df.groupby("column").agg_function().reset_index()
```

the aggregate functions are this ones:

- mean(): Compute mean of groups
- sum(): Compute sum of group values
- size(): Compute group sizes
- count(): Compute count of group
- std(): Standard deviation of groups
- var(): Compute variance of groups
- sem(): Standard error of the mean of groups
- describe(): Generates descriptive statistics
- first(): Compute first of group values
- last(): Compute last of group values
- nth() : Take nth value, or a subset if n is a list
- min(): Compute min of group values
- max(): Compute max of group values

[Know more here](https://cmdlinetips.com/2019/10/pandas-groupby-13-functions-to-aggregate/)

In [51]:
aggr = df1.groupby("EDX").sum(numeric_only=True).reset_index()
aggr

    EDX  Impact  new_column
0    LX       2    7.341429
1    MX       5   14.708882
2    NA       6   49.336880
3  PSOX       7   16.405681
4    TY       2    6.141959