# Pandas basics

## Import and basics

In [14]:
import numpy as np
import pandas as pd

In [15]:
# np.random.seed(42)
a1 = np.random.randn(10,5)
a1

array([[ 0.35778736,  0.56078453,  1.08305124,  1.05380205, -1.37766937],
       [-0.93782504,  0.51503527,  0.51378595,  0.51504769,  3.85273149],
       [ 0.57089051,  1.13556564,  0.95400176,  0.65139125, -0.31526924],
       [ 0.75896922, -0.77282521, -0.23681861, -0.48536355,  0.08187414],
       [ 2.31465857, -1.86726519,  0.68626019, -1.61271587, -0.47193187],
       [ 1.0889506 ,  0.06428002, -1.07774478, -0.71530371,  0.67959775],
       [-0.73036663,  0.21645859,  0.04557184, -0.65160035,  2.14394409],
       [ 0.63391902, -2.02514259,  0.18645431, -0.66178646,  0.85243333],
       [-0.79252074, -0.11473644,  0.50498728,  0.86575519, -1.20029641],
       [-0.33450124, -0.47494531, -0.65332923,  1.76545424,  0.40498171]])

In [16]:
df = pd.DataFrame(a1)
df

          0         1         2         3         4
0  0.357787  0.560785  1.083051  1.053802 -1.377669
1 -0.937825  0.515035  0.513786  0.515048  3.852731
2  0.570891  1.135566  0.954002  0.651391 -0.315269
3  0.758969 -0.772825 -0.236819 -0.485364  0.081874
4  2.314659 -1.867265  0.686260 -1.612716 -0.471932
5  1.088951  0.064280 -1.077745 -0.715304  0.679598
6 -0.730367  0.216459  0.045572 -0.651600  2.143944
7  0.633919 -2.025143  0.186454 -0.661786  0.852433
8 -0.792521 -0.114736  0.504987  0.865755 -1.200296
9 -0.334501 -0.474945 -0.653329  1.765454  0.404982

In [17]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [20]:
df.columns = ["col1", "col2", "col3", "col4", "col5"]
df.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5'], dtype='object')

In [21]:
df

       col1      col2      col3      col4      col5
0  0.357787  0.560785  1.083051  1.053802 -1.377669
1 -0.937825  0.515035  0.513786  0.515048  3.852731
2  0.570891  1.135566  0.954002  0.651391 -0.315269
3  0.758969 -0.772825 -0.236819 -0.485364  0.081874
4  2.314659 -1.867265  0.686260 -1.612716 -0.471932
5  1.088951  0.064280 -1.077745 -0.715304  0.679598
6 -0.730367  0.216459  0.045572 -0.651600  2.143944
7  0.633919 -2.025143  0.186454 -0.661786  0.852433
8 -0.792521 -0.114736  0.504987  0.865755 -1.200296
9 -0.334501 -0.474945 -0.653329  1.765454  0.404982

In [26]:
# Only now you can access columns like this
col3 = df["col3"]
col3

0    1.083051
1    0.513786
2    0.954002
3   -0.236819
4    0.686260
5   -1.077745
6    0.045572
7    0.186454
8    0.504987
9   -0.653329
Name: col3, dtype: float64

In [27]:
type(col3)

pandas.core.series.Series

In [30]:
col3.shape

(10,)

In [32]:
col3.describe()

count    10.000000
mean      0.200622
std       0.695371
min      -1.077745
25%      -0.166221
50%       0.345721
75%       0.643142
max       1.083051
Name: col3, dtype: float64

In [38]:
join_cols = df[["col3","col1"]]
join_cols

       col3      col1
0  1.083051  0.357787
1  0.513786 -0.937825
2  0.954002  0.570891
3 -0.236819  0.758969
4  0.686260  2.314659
5 -1.077745  1.088951
6  0.045572 -0.730367
7  0.186454  0.633919
8  0.504987 -0.792521
9 -0.653329 -0.334501

In [40]:
addition = df["col2"] + df["col3"]
addition

0    1.643836
1    1.028821
2    2.089567
3   -1.009644
4   -1.181005
5   -1.013465
6    0.262030
7   -1.838688
8    0.390251
9   -1.128275
dtype: float64

In [61]:
# come up with some data
m1 = np.array([["no","factor1",0],
               ["yes","factor2",2], 
               ["no","factor3",0], 
               ["no","factor4",2],
               ["yes","factor1", 1], 
               ["no","factor2",3],
               ["yes","factor5",3],
               ["no","factor1",0],
               ["yes","factor5",3],
               ["yes","factor1",2],
               ["yes","factor5",1],
               ["no","factor1",2],
               ["no","factor2",0],
               ["yes","factor1",1],
               ["no","factor3",2]
              ])

# create a dataframe with columns
df1 = pd.DataFrame(m1, columns=["Request","Factor", "Impact"])
df1["Impact"] = df1["Impact"].astype(int)
df1

   Request   Factor  Impact
0       no  factor1       0
1      yes  factor2       2
2       no  factor3       0
3       no  factor4       2
4      yes  factor1       1
5       no  factor2       3
6      yes  factor5       3
7       no  factor1       0
8      yes  factor5       3
9      yes  factor1       2
10     yes  factor5       1
11      no  factor1       2
12      no  factor2       0
13     yes  factor1       1
14      no  factor3       2

In [80]:
np.random.seed()
a1 = np.random.uniform(
    low=0,
    high=10,
    size=(m1.shape[0], 1)
)
a1

array([[9.6652531 ],
       [9.93562961],
       [0.34927409],
       [3.26648887],
       [3.81741464],
       [0.83238259],
       [6.92452281],
       [6.00491442],
       [4.00215506],
       [6.89558393],
       [7.0849407 ],
       [2.46323056],
       [6.02827272],
       [6.12518859],
       [0.38666107]])

In [81]:
df2["new_column"] = a1
df2

   Request   Factor  Impact  new_column
0       no  factor1       0    9.665253
1      yes  factor2       2    9.935630
2       no  factor3       0    0.349274
3       no  factor4       2    3.266489
4      yes  factor1       1    3.817415
5       no  factor2       3    0.832383
6      yes  factor5       3    6.924523
7       no  factor1       0    6.004914
8      yes  factor5       3    4.002155
9      yes  factor1       2    6.895584
10     yes  factor5       1    7.084941
11      no  factor1       2    2.463231
12      no  factor2       0    6.028273
13     yes  factor1       1    6.125189
14      no  factor3       2    0.386661

In [85]:
condition = df2["Request"] == "yes"
condition

0     False
1      True
2     False
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10     True
11    False
12    False
13     True
14    False
Name: Request, dtype: bool

In [86]:
filtered = df2[condition]
filtered

   Request   Factor  Impact  new_column
1      yes  factor2       2    9.935630
4      yes  factor1       1    3.817415
6      yes  factor5       3    6.924523
8      yes  factor5       3    4.002155
9      yes  factor1       2    6.895584
10     yes  factor5       1    7.084941
13     yes  factor1       1    6.125189